@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap");

//Mixins for responsive design
$phone-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;

@mixin tablet {
  @media (min-width: #{$phone-width}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
//mixins btns
@mixin roundBtn($main-color:$main-green, $svg-color: white){
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $main-color;
  color: $svg-color;
  height: 2rem;
  width: 2rem;
  svg {
    color: $svg-color;
  }
}
//Color scheme
$main-green: #4d7477;
$transparent-green: rgba(77, 116, 119, 0.12);
$transparent-red:  rgba(241, 70, 104, 0.09);
$main-yellow: #fefae0;
$grey: rgba(196, 196, 196, 1);
$dark-grey: rgb(114, 110, 110);
$mustard: #E2D698;
$red: #832F2F;
$transparent-yellow: rgba(254, 250, 224, .5);;


.App {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95vw;


  .page{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    position: relative;
  }
  input, select{
    height: 2rem;
   
  }       
  .iconRoundGreen {
    @include  roundBtn();
  }
  .iconRoundMustard
  {
    @include roundBtn($mustard);
    position: absolute;
    right:.5rem;
    top:.5rem;
  }


  .stdBtn{
    border: none;
    padding: 0.6rem 0.2rem;
    border-radius: .1rem;
    width:70%;
    font-size: 1rem;
  
  &.clear{
    color: $main-green;
    background-color: $main-yellow;
  
  }
  &.dark{
    color:white;
    background-color: $main-green;
  }
  }
  @include tablet {

    
    width: 84vw;
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .page{
      width:100%;
      min-height: 65vh;
    }


  }
  @include desktop {
  
  }
}
